# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env
backend/.env

# Database
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Type Checker
.mypy_cache/